doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1')

        script(src='http://localhost:8080/socket.io/socket.io.js')
        //script(src='http://178.62.101.48/socket.io/socket.io.js')
        script.
            var socket = io.connect('http://localhost:8080')
            //var socket = io.connect('http://178.62.101.48');
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/posthoc.js')
        // Put your variables here:
        // uniqueId is the YouTube id of the video you want to play
        // playStart is the second you want playback to start. 
        // num is the identity of the analyser. 1 = Dianne; 0 = Tim.

        script(type="text/javascript").
            var playStart = 10;
            var num = 1;
            var uniqueId = 's7vOEjByFgk';
    body
        block content
                
                    
            #player

            #posthoc_start
                p.text_posthoc START

            #posthoc_feedback
                #posthoc_isGood
                    p.text_posthoc I LIKE THIS

                #posthoc_error
                    p.text_posthoc THERE WAS AN ERROR