extends layout

block content
    
    // Wrapper
    #overlay
        #insideOverlay.textBox 
    #wrapper

        #container
            #first
                #insertWrapper
                    a(href='#')
                        #button.insertButton
                            p.buttonText Tap here to enter study
        #second
            #button.isGoodButton
                span :)
            #button.errorButton
                span X

    // /WRAPPER