extends layout

block content
    
    // Wrapper
    #overlay
        #insideOverlay.textBox 
    #wrapper

        #container
            #first
                #insertWrapper
                    a(href='#')
                        #button.insertButton1
                            p.buttonText Group 1
                    a(href='#')
                        #button.insertButton2
                            p.buttonText Group 2
        #second
            #button.isGoodButton
                span
            #button.errorButton
                span

    // /Wrapper