doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1')
    body
        block content
        script(src='http://178.62.101.48:8080/socket.io/socket.io.js')
        script.
            var socket = io.connect('http://178.62.101.48:8080');
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/random.js')
        script(src='/javascripts/remote.js')