* {
    /* stop double click selecting of text */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

@import url('https://fonts.googleapis.com/css?family=Arvo');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Arvo', serif;
    background: #eee;
}



h2 {
    margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

p.buttonText {
    font-weight: bold;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Arvo', serif;
    line-height: auto;
    // margin: auto 0;
}

p.studyButtonText {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

#wrapper {
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*overflow-x: hidden;*/
}

#container {
    margin: 0 auto;
    width: 80%;
}

#status {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: #ff0000;
}

[type="radio"] {
  border: 0;
  height: 15px; 
  padding: 0;
  position: absolute;
  width: 10px;
}

label {
  display: block;
  margin: 25px 0 25px 25px;
}


#button {
    position: relative;
}

#button span {
    font-family: 'Roboto Mono', monospace;
}

#first {
    position: relative;
}

/*This is the overlay that will happen when a message is received.*/
#overlay {
    background-color: #333;
    opacity: 0.9;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 100;
    height: 100%;
    width: 100%;
}
    #insideOverlay {
        border: 1px solid black;
        background-color: #fff;
        opacity: 1;
        font-weight: normal;
        width: 70%;
        padding: 20px;
        text-align: center;
    }
    p.username {
        font-weight: bold;
    }

.insertButton {
    background: #FF0000;
    // float: left;
    margin: 0 auto;
    padding: 10% 5%;
    // padding: 10% 0 0 0;
    // border-radius: 50%;
    width: 45%;
    height: 45%;
}

// .insertButton2 {
//     background: #0000FF;
//     float: right;
//     border-radius: 50%;
//     width: 45%;
// }

#second {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.errorButton,
.isGoodButton {
    color: white;
    font-weight: bold;
    position: absolute!important;
    bottom: 0;
    top: 0;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 1s ease-out 0s;
  -moz-transition: all 1s ease-out 0s;
  -ms-transition: all 1s ease-out 0s;
  -o-transition: all 1s ease-out 0s;
  transition: all 1s ease-out 0s;
}
.errorButton span,
.isGoodButton span {
    display: inline-block;
    font-size: 4em;
}
.errorButton:active,
.isGoodButton:active {
    background: #333;
}
.isGoodButton {
    left: 0;
    right: 50%;
    background: #60AB15;
}
.isGoodButton span {
    transform: rotate(90deg);
}
.errorButton {
    right: 0;
    left: 50%;
    background: #AB1515;
}

.start:active,
.end:active,
.pause:active,
.resume:active {
    background: #333;
}

.start_test {
    background: #009933;
    line-height: 100px;
    width: 40%;
}

.end_test {
    background: #CC3300;
    line-height: 100px;
    width: 40%;
}

.start {
    background: #009933;
    line-height: 100px;
    width: 40%;
}

.end {
    background: #CC3300;
    line-height: 100px;
    width: 40%;
}

.pause1 {
    background: #333;
    line-height: 100px;
    width: 40%;
}
.pause2 {
    background: #666;
    line-height: 100px;
    width: 40%;
}
.pause3 {
    background: #999;
    line-height: 100px;
    width: 40%;
}

.resume {
    background: #00BEBE;
    line-height: 100px;
    width: 40%;
}

#remoteButton {
    display: block;
}

p.remoteButtonText {
    font-weight: bold;
    color: #fff;
    size: 18px;
    text-align: center;
    text-decoration: none;
}

h1 {
    margin-left: 50px;
}