// @keyframes buttonAnim {
//     0% {
//         background-color: #eee;
//     }
//     75% {
//         background-color: #333;
//     }
// }
// @keyframes buttonSpanAnim {
//     0% {
//         opacity: 1;
//     }
//     75% {
//         opacity: 0;
//     }
// }

* {
    /* stop double click selecting of text */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font: 14px Helvetica, Arial, sans-serif;
    background: #eee;
}

h2 {
    margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

p.buttonText {
    font-weight: bold;
    color: #fff;
    text-align: center;
}

p.studyButtonText {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

#wrapper {
    position: absolute;    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*overflow-x: hidden;*/
}

#container {
    margin: 0 auto;
    width: 80%;
}

#button {
    position: relative;
}

#first {
    position: relative;
}

/*This is the overlay that will happen when a message is received.*/
#overlay {
    background-color: rgba(51,51,51,.9);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 100;
    height: 100%;
    width: 100%;
}
    #insideOverlay {
        border: 1px solid black;
        background-color: #fff;
        opacity: 1;
        font-weight: normal;
        width: 80%;
        padding: 10px;
        text-align: center;
    }
    p.username {
        font-weight: bold;
    }

.insertButton1 {
    background: #FF0000;
    float: left;
    border-radius: 50%;
    width: 45%;
}

.insertButton2 {
    background: #0000FF;
    float: right;
    border-radius: 50%;
    width: 45%;
}

#second {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.errorButton,
.isGoodButton {
    color: white;
    font-weight: bold;
    position: absolute!important;
    bottom: 0;
    top: 0;
    cursor: pointer;
    text-align: center;
    user-select: none;
}
.errorButton span,
.isGoodButton span {
    bottom: 0;
    left: 0;
    margin: 100px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}
.errorButton:active,
.isGoodButton:active {
    background-color: #333;
    // animation-name: buttonAnim;
    // animation-direction: forward;
    // animation-duration: .3s;
}
.errorButton:active span,
.isGoodButton:active span {
    // animation-name: buttonSpanAnim;
    // animation-direction: forward;
    // animation-duration: .3s;
}
.isGoodButton {
    left: 0;
    right: 50%;
    background-color: #eee;
    border: 2em solid #bbb;
}
.isGoodButton span {
    background-image: url(../images/good.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    opacity: 1;
}
.errorButton {
    left: 50%;
    right: 0;
    background-color: #eee;
    border: 2em solid #bbb;
}
.errorButton span {
    background-image: url(../images/error.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;
    opacity: 1;    
}

.start:active,
.end:active,
.pause:active,
.resume:active {
    background: #333;
}

.start_test {
    background: #009933;
    line-height: 100px;
    width: 40%;
}

.end_test {
    background: #CC3300;
    line-height: 100px;
    width: 40%;
}

.start {
    background: #009933;
    line-height: 100px;
    width: 40%;
}

.end {
    background: #CC3300;
    line-height: 100px;
    width: 40%;
}

.pause1 {
    background: #333;
    line-height: 100px;
    width: 40%;
}
.pause2 {
    background: #666;
    line-height: 100px;
    width: 40%;
}
.pause3 {
    background: #999;
    line-height: 100px;
    width: 40%;
}

.resume {
    background: #00BEBE;
    line-height: 100px;
    width: 40%;
}

#remoteButton {
    display: block;
}

p.remoteButtonText {
    font-weight: bold;
    color: #fff;
    size: 18px;
    text-align: center;
    text-decoration: none;
}

h1 {
    margin-left: 50px;
}